<div class="row">
    <div class="col-md-6">
        <h2>Add a new Blog Post!</h2>

        <form class="form post-form">
            <div class="form-group">
                <label for="blog-title">Title:</label>
                <input class="form-input" type="text" id="blog-title" />
            </div>
            <div class="form-group">
                <label for="blog-content">Content:</label>
                <input class="form-input" type="text" id="blog-content" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/addpost.js"></script>