<!-- Loop over each object in the projects array -->
{{#each blogPosts as |blogpost| }}

<div>
    <details>

        <summary>
            <a href="/dashboard/{{blogpost.id}}">{{blogpost.title}}</a>
        </summary>
        <p>{{blogpost.content}}</p>
    </details>

</div>

{{/each}}