<!-- Loop over each object in the projects array -->
<h2>Blog Posts</h2>
{{#each blogPosts as |blogpost| }}

<div>
    <details>

        <summary>
            <a href="/blog/{{blogpost.id}}">{{blogpost.title}} - {{format_date blogpost.date_created}}</a>
        </summary>
        <p id="post-body">{{blogpost.content}}</p>
    </details>

</div>

{{/each}}